[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
	branch = 2017.05.x
[submodule "xdotool"]
	path = xdotool
	url = https://github.com/jordansissel/xdotool.git
[submodule "beast"]
	path = beast
	url = https://github.com/boostorg/beast.git
